@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Dispomos de ampla variedade de carros novos, multimarcas, usados e semi-novos das mais variadas marcas modelos, cores e faixas de preço; nacionais e importados; automóveis e caminhonetes, usados, semi-novose zero km.

Integridade, honestidade e profissionalismo são as premissas que sempre nortearam as atividades da agência de automóveis Rispoli Veículos.</p>
