@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Easy Car</h1>
    <p class="lead">O Jeito mais fácil e seguro de Comprar Carros!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

